
/*CSS Mobile*/

@media only screen
and (min-device-width:320px)
and (max-device-width:768px) 
and (max-device-height:950px)
and (min-device-height:660px){ 
     
    /*index.html*/

    body {
        width: 100%;
    } 
    

    .header {
        background-color: darkslateblue;
        min-width: 100%;
        height: 20%;
        text-align: center;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    .site_content {
        width: 100%;
    }

    .menubar {
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }

    .site_content {
        width: 100%;
        text-align: center;
    }

    .sitebar {
        display: none;
    }

    .footer {
        display: none;
    }

    ul.menu {
        float: none;
        align-items: center;
    }

    ul.menu li {
        margin: 0;
        padding: 0;
        float: none;
    }

    ul.menu li a {
        text-align: center;
    }


    .logo h1 {
        font: normal 235% 'century ghotic', arial, sans-serif;
    }

    .logo h2 {
        font: normal 100% 'century ghotic', arial, sans-serif;
        color: white;
    }

    .content h1, h2 {
        font: normal 110% 'century ghotic', arial;
    }

    /* .films img {
        width: 43%;
        height: 100%;
    } */

    .films.img {
        width: 100%;
        height: 100%;
    }

    /* .img {
        width: 140.39px;
        height: 200.84px;
    } */

    .content {
        width: 100%;
        text-align: center;
    }

    .posts_content p {
        line-height: 1.5em;
        padding: 2%;
        text-align: left;
    }

    .posts {
        font-size: 120%;
    }

    /*films.html*/

    .info_film {
        float: none;
        height: 100%;
    }

    .info_film img {
        width: 90%;
        margin-bottom: 5%;
        height: 100%;
    }

    .btn {
        float: none;
    }

    /*rating.html*/

    table {
        display: block;
    }

    th {
       font-size:75%;
    }

    td {
        margin: 0;
        padding: 0;
        font-size: 95%;
        text-align: left;
    }

    /* show.html */

    iframe {
        width: 88%;
        height: 100%;
    }

    .description {
        width: 90%;
        text-align: left;
        margin-left: 2%;
    }

    .description img {
        float: none;
        width: 73%;
        margin: 0;
        padding: 0;
        margin-left: 11%;
        margin-bottom: 7%;
        display: block;
        height: 93%;
    }

    .reviews {
        text-align: left;
        width: 96%;
    }


    .send input[type="text"] {
        width: 80%;
    }

    .send textarea {
        width: 85%;
    }


}